# Configurações do servidor
PORT=3000
NODE_ENV=development

# Banco de dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=jitterbit_orders
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=sua_chave_secreta_aqui_mude_em_producao
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=*
