# Dependências
node_modules/

# Variáveis de ambiente
.env

# Cobertura de testes
coverage/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
!.vscode/settings.json
.idea/

# Build
dist/
build/
